---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Brands from '~/components/widgets/Brands.astro';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';
import TimeTable from '~/components/widgets/TimeTable.astro';
import Speakers from '~/components/widgets/Speakers.astro';

const metadata = {
  title: 'Ethcon Korea 2024 — Ignite your Cypherpunk Vision',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- Hero Section -->
  <Hero2
    tagline="Ethcon 2024: October 18 - 20!"
    title="Ignite your Cypherpunk Vision!"
    subtitle="Join us at Ethcon Korea from October 18th to 20th, 2024, for a dynamic gathering of developers and visionaries. In its fourth year, this volunteer-driven conference will spotlight the community’s commitment to a cypherpunk future. Share your projects and collaborate with others to push back against the encroaching dystopia.<br/><br/>Together, let's craft a resilient digital future."
    actions={[
      {
        variant: 'primary',
        text: 'Apply as a speaker',
        href: '/apply-as-a-speaker',
        icon: 'tabler:square-rounded-arrow-right',
      },
      { text: 'Get a ticket(coming soon)', href: '#', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{ src: '~/assets/images/hero2-image.png', alt: 'Ethcon KR Ignite your Cypherpunk Vision' }}
  />
  <Hero
    title="Schedule"
    subtitle=""
    content=`<div class="flex justify-center">
    <iframe
        id="luma-iframe"
        src="https://lu.ma/embed/calendar/cal-d036hrH6SYVn0vl/events?"
        width="100%"
        height="720"
        class="border border-gray-300 rounded"
        allowfullscreen="true"
        aria-hidden="false"
        tabindex="0"></iframe>
    </div>`
  />
  <Hero
    tagline="Day 1"
    title="Job Clinic"
    subtitle=""
    content=`<iframe
  src="https://lu.ma/embed/event/evt-tx5gzvLhoEZO4vr/simple"
  width="100%"
  height="450"
  frameborder="0"
  style="border: 1px solid #bfcbda88; border-radius: 4px;"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>`
  />
  <TimeTable
    id="cgb"
    tagline='Nonce Salon(1F), October 18th(Fri) , 2024'
    subtitle=`Connect with leaders in Ethereum ecosystem and boost your career.`
    title="Job Clinic"
    items={[
      {
        time: '05:30 PM',
        title: `Registration Opens`,
        description: ``,
        icon: 'tabler:beer',
      },
      {
        time: '06:00 PM',
        title: `Opening Remarks`,
        description: ``,
        icon: 'tabler:beer',
      },
      {
        time: '06:30 PM',
        title: 'Panel talks',
        icon: 'tabler:transition-right',
      },
      {
        time: '07:00 PM',
        title: 'Mock interviews and resume reviews',
        icon: 'tabler:user-check',
      },
      {
        time: '09:00 PM',
        title: 'Networking',
        icon: 'tabler:users',
      },
      {
        time: '09:00 PM',
        title: 'Closing',
        icon: 'tabler:users',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  <Hero
    tagline="Day 2"
    title="CTF"
    subtitle=""
    content=`<iframe
  src="https://lu.ma/embed/event/evt-rEvSenG6MnNc3um/simple"
  width="100%"
  height="450"
  frameborder="0"
  style="border: 1px solid #bfcbda88; border-radius: 4px;"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>`
  />
  <TimeTable
  id="ctf"
  tagline='Nonce Salon(1F), October 19th(SAT) , 2024'
  title="Capture the Flag"
  subtitle=`Test your ability to analyze wallets and transactions on Ethereum. Participants analyze compromised wallets or transactions to trace the attacker's actions and identify the methods used or the cause of the breach.`
  items={[
    {
      time: '09:00 AM',
      title: 'Registration & Setup',
      description: `Join us to register and set up your environment for the CTF.`,
      icon: 'tabler:clipboard-check',
    },
    {
      time: '09:30 AM',
      title: `Welcome & Challenge Overview`,
      description: `Receive a warm welcome and an overview of the CTF challenges and rules.`,
      icon: 'tabler:info-circle',
    },
    {
      time: '10:00 AM',
      title: `CTF Session 1`,
      description: `Participate in the first CTF session and test your skills against Ethereum-based puzzles.`,
      icon: 'tabler:code',
    },
    {
      time: '11:30 AM',
      title: `Lunch Break`,
      description: `Take a break and enjoy lunch. Recharge before the second session.`,
      icon: 'tabler:clock',
    },
    {
      time: '01:00 PM',
      title: `CTF Session 2`,
      description: `Dive back into solving more Ethereum challenges and earn points!`,
      icon: 'tabler:code',
    },
    {
      time: '05:00 PM',
      title: `Challenge Review & Solutions`,
      description: `Review the CTF challenges and learn the solutions.`,
      icon: 'tabler:report',
    },
    {
      time: '05:30 PM',
      title: `After Party`,
      description: `Celebrate your achievements and network at the beer party!`,
      icon: 'tabler:beer',
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>

  <Hero
    tagline="Day 3"
    title="Conference"
    subtitle=""
    content=`<iframe
  src="https://lu.ma/embed/event/evt-03qXTO2evAfLiem/simple"
  width="100%"
  height="450"
  frameborder="0"
  style="border: 1px solid #bfcbda88; border-radius: 4px;"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>`
  />
  <TimeTable
  id="conference"
  title="Conference"
  tagline='BigPlace(B1F), October 20th(SUN), 2024'
  subtitle='Ethcon 2024 will bring together developers, researchers, and students from the Ethereum ecosystem to share insights, projects, and solutions. Don’t miss out on this opportunity to explore cutting-edge ideas and connect with the brightest minds in the space.'
  items={[
    {
      time: '09:30 AM',
      title: 'Registration',
      description: `Join us to register and set up for the event.`,
    },
    {
      time: '10:00 AM',
      title: `Keynote`,
    },
    {
      time: '10:30 AM',
      title: `Talks (Part 1)`,
      description: `Detailed agenda will be announced.`,
    },
    {
      time: '01:00 PM',
      title: `Lunch`,
      description: `Take a break for lunch and recharge before the afternoon session.`,
    },
    {
      time: '02:00 PM',
      title: `Talks (Part 2)`,
      description: `Detailed agenda will be announced.`,
    },
    {
      time: '04:00 PM',
      title: `Break`,
    },
    {
      time: '04:30 PM',
      title: `Talks (Part 3)`,
      description: `Detailed agenda will be announced.`,
    },
    {
      time: '06:00 PM',
      title: `Closing Remarks`,
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>
<Speakers
title="Speakers"
subtitle=""
images={[
  {
    src: '~/assets/images/speakers/Adrian_Li.jpeg',
    alt: 'Adrian Li',
    title: '@ Ethereum Foundation, PSE'
  },
  {
    src: '~/assets/images/speakers/AJ_Park.jpeg',
    alt: 'Jihoon Park',
    title: '@ Radius'
  },
  {
    src: '~/assets/images/speakers/Gen_Lee.jpeg',
    alt: 'Gen Lee',
    title: '@ Uniswap labs'
  },
  {
    src: '~/assets/images/speakers/Junha.jpg',
    alt: 'Junha',
    title: '@ Hyperithm, PDAO'
  },
  {
    src: '~/assets/images/speakers/Duke.jpg',
    alt: 'Duke',
    title: '@ Myosin APAC'
  },
  {
    src: '~/assets/images/speakers/Martinet_Lee.jpg',
    alt: 'Martinet Lee',
    title: '@ Zircuit'
  },
  {
    src: '~/assets/images/speakers/Wen_Kang_Chen.jpg',
    alt: 'Wen Kang Chen',
    title: '@ Nethermind'
  },
  {
    src: '~/assets/images/speakers/Jack_Jin.jpg',
    alt: 'Jack Jin',
    title: '@ Kaia Foundation'
  },
  {
    src: '~/assets/images/speakers/Jooman_Han.png',
    alt: 'Jooman Han',
    title: '@ a41'
  },
  {
    src: '~/assets/images/speakers/Elden_Park.jpg',
    alt: 'Elden Park',
    title: 'Independent Researcher'
  },
  {
    src: '~/assets/images/speakers/Junghyun_Kim.jpeg',
    alt: 'Junghyun Kim',
    title: '@ Team BaeRae'
  },
  {
    src: '~/assets/images/speakers/Jaewon_Kim.jpg',
    alt: 'Jaewon Kim',
    title: '@ Bluenode'
  },
  {
    src: '~/assets/images/speakers/Joonwon_Lee.jpg',
    alt: 'Joonwon Lee',
    title: '@ DSRV'
  },
  {
    src: '~/assets/images/speakers/Minjun_Kim.jpg',
    alt: 'Minjun Kim',
    title: '@ Bifrost'
  },
]}
/>
  <Headline title="Donation" subtitle="0xe2435548A9cdA5be4B00Da8eCBd47304Cd5c53bc" />
  <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 mt-6">
    <div class="flex w-full sm:w-auto">
      <Button class="w-full sm:mb-0" variant="primary" text="Please submit your transaction hash" />
    </div>
  </div>
  <Brands
    title="Sponsors"
    subtitle=""
    icons={[]}
    images={[
      {
        src: '~/assets/images/scroll-logo.png',
        alt: 'Scroll',
      },
      {
        src: '~/assets/images/zircuit-logo.png',
        alt: 'Zircuit',
      },
      {
        src: '~/assets/images/Chainlink-Logo-Blue.png',
        alt: 'Chainlink',
      },
    ]}
  />
</Layout>
