---
import { SITE } from 'astrowind:config';
import logo from '~/assets/favicons/apple-touch-icon.png';
---

<span
  class="flex items-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src={logo.src} alt={SITE?.name} class="h-8 w-8 md:h-10 md:w-10 mr-2 rtl:mr-0 rtl:ml-2" />
  {SITE?.name}
</span>
